body {
    color: whitesmoke;
    background-color: #FBF8E1;
}

header {
    color: rgb(223, 88, 88);
}

li {
    display: inline-block;
    color: lightsteelblue;
}





footer {
    color: black;
}
