@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
.procedure{
   
    h2{
        text-align: center;
        margin: 30px;
        font-size: 2.5rem;
        font-family: 'Noto Sans SC', sans-serif; 
    }
    li {
        font-size: 1.2rem;
        font-family: 'Noto Sans SC', sans-serif; 
    }
}
