.about{
    color: black;
    p{
        color: black;
    }
  
}
#about-nancy{
    margin-top: 20px; 
    background-color: rgb(175, 122, 249);
    // #profile{
    //     margin-top: 30%;
    //    // margin-bottom: 50%;
    // }
 }