@media(max-width: 540px){
    .container{
        width: 375px;
        display: block;
        /* background-color: springgreen; */
      }
      /* .details{
          height: 045vh;
      } */
   /* .details #images #header {
    height: 45vh;
    
    } */
    /* .rps-scroll--disabled div style {
height: 45vh;
    } */

    .details .d-block w-100 {
        height:50px;
    }
    .details #header {
        font-size: 30px;
        font-weight: bold;
        color: rgb(249, 246, 246);
        text-shadow: 0.02em 0 rgb(122, 121, 121), 0 0.02em rgb(122, 121, 121);

    }
    .details p {
        font-size: 20px;
        color: rgb(249, 246, 246);
        text-shadow: 0.02em 0 rgb(122, 121, 121), 0 0.02em rgb(122, 121, 121);

    }

    #help-container h2{
        font-size: 18px;
        text-align: center;

        padding-top: 5px;
        padding-bottom: 5px;

    }
    #help-container p {
        height: 350px;
        overflow:scroll;
    }
    #help-container .help{
        background-color: rgb(245, 243, 243);
        border-left-color:#eee;
        border-radius:2px;
        border-right-color:#eee;
        border-top-color:#ddd;
        box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
        padding: 10px;
    }
}


@media(max-width: 1000px){
    .container{
        width: 375px;
        display: block;
      }
          /* .details{
          height: 45vh;
      } */
      /* .d-block w-100 {
        height: 45vh;
      } */
}

/* @media(min-width: 1065px){
    .container{

    }
} */

.carousel-indicators li {
    background-color: transparent; 
  }



 #center-text {
      text-align: center;
  }